$primary-color: #9356DC;
$label-and-checked-bg: #99E2D0;
$label-text: #008766;
$bg-dark: #353535;
$bg-light: #EAEAEA;
$bg-lightmeore: #F6F6F6;
$f_familly: 'Roboto';
$menu_title_font: 'Shrikhand';
$btn1: #9356DC;
$btn2: #FF79DA;
$text-color: #000;
$text-color-light: #353535;
$radius: 20px;
$icon_color: #7e7e7e;
$steps-bg: #F7F7F7;
$coverphoto_height: 260px;
$menu_border_radius: 42px 42px 0 0;
$menu_margin_top: -42px;
$menu_padding: 42px 15px;
$f_familly: 'Roboto',
sans-serif;
$menu_title_font: 'Shrikhand',
cursive;
$desktop: 992px;